
  <div class="flex-fill"  style="width: 100%;">
    <ul ngbNav #nav ="ngbNav" class="nav-pills flex-row col">
      <li ngbNavItem class="col-4 text-center" >
        <a ngbNavLink routerLink="/personal">Personal</a>
      </li>
      <li ngbNavItem class="col-4 text-center">
        <a ngbNavLink routerLink="/address">Address</a>
      </li>
      <li ngbNavItem class="col-4 text-center">
        <a ngbNavLink routerLink="/identification">Identification</a>
      </li>
    </ul>
  </div>
  <div [ngbNavOutlet]="nav">
    <div class="col-lg-10">
      <router-outlet></router-outlet>
    </div>
  </div>
